<style>
    table {
        width: 400px;
    }
    .chart {
        top:100px;
        position: fixed;
        top: 150px;
        right: 50px;
        left: 550px;
        bottom: 100px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div>
            Stock ticker: &nbsp;
            <input id="input_symbol" value="{{ symbol }}">
            <button id="button_symbol_update">Update</button>
        </div>
        <div style="width:40px;"></div>
        <div>
            Spread width: &nbsp;
            <input type="range" min="0" max="50" step="1" value="0" id="input_shift_price" style="width:600px;">
            <label id="label_shift_price">0</label>
        </div>
        <div style="width:40px;"></div>
        <div>
            Central Column: &nbsp;
            <select id="select_central_column">
                <option value="roi">ROI</option>
                <option value="roidte">ROI/DTE</option>
                <option value="profit">Profit</option>
            </select>
        </div>
        <div style="position:absolute; right:40px;">
            <button id="button_toggle_graph">Plot</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 scrollmenu" style="text-align:center;" id="div_chains" >
            {{ div_chains|safe }}
        </div>
        <div class="chart" id="div_plot" style="display:none;">
            {{ div_plot|safe }}
        </div>
    </div>
</div>
<script>

    var div_plot_storage;

    function setup_hover (){
        $(".bid_cell").hover(
            function(){
                // update chain highlight
                x = $(".highlighted_spread")
                x.removeClass("highlighted_spread");
                    x.each(function(){
                        $(this).attr("style", $(this).attr("temp_style"));
                })

                x = $(".bid_cell_" + Number($(this).text())*100).parent();
                x.addClass("highlighted_spread");
                x.each(function(){
                    $(this).attr("style", "");
                })

                // update div_plot highlight
                result = div_plot_storage.search("\"name\": \"" + $(this).text());
                if(result != -1){
                    div_plot_temporary = div_plot_storage.slice(0, result) + "line: {width: 6}, marker:{size:12}," + div_plot_storage.slice(result);
                }
                $("#div_plot").html(div_plot_temporary);

            }, null
        )
    }

    $("#input_shift_price").change(function(){           
        var shift_price = parseFloat($("#input_shift_price").val());
        if (isNaN(shift_price)) return;
        $("#label_shift_price").text(shift_price);

        ajax_freeze();
        $.ajax({
            url: "update_shift_price/",
            type : "GET",
            data: {
                "shift_price": shift_price
            },
            dataType: "json",
            success: function(data) {
                $("#div_chains").html(data.div_chains);
                div_plot_storage = data.div_plot;
                $("#div_plot").html(data.div_plot);
                setup_hover();
                ajax_unfreeze($("#input_shift_price"));
            }
        })
    })

    $("#button_symbol_update").click(function(){
        ajax_freeze();
        $("#main_content").load("", {"symbol": $("#input_symbol").val()}, function(){
            ajax_unfreeze($("#input_shift_price"));
        });
    })

    $("#button_toggle_graph").click(function(){
        if($("#div_plot").css("display") == "none"){
            $("#div_chains").removeClass("col-12");
            $("#div_chains").addClass("col-3");
            $("#div_plot").css("display", "block");
        } else {
            $("#div_chains").removeClass("col-3");
            $("#div_chains").addClass("col-12");
            $("#div_plot").css("display", "none");
        }
    })

    $(document).ready(function(){
        setup_hover();
        $("#input_shift_price").focus();
    });

</script>