# Stocks data streaming API credentials 
toolkit/credentials.py

# private python/Django settings, such as https://docs.djangoproject.com/en/3.1/ref/settings/#std:setting-SECRET_KEY 
private_settings.py

# database
db.sqlite3

# Other files
staticfiles/
*.log
*.pot
*.pyc
__pycache__
*.bak